{
    locals: [
        {
            uri: "/addama/tools/dodoma",
            script: "/.../addama/tools/dodoma/main.sh",
            workDir: "/.../addama/tools/dodoma",
            viewer: "/index.html",
            scriptAdmin: "user@example.com",
            returnCodes: {
                success: 0,
                unknownReason: "Unknown Error",
                errors: {
                    "1": "Incorrect inputs",
                }
            },
            numberOfThreads: 8
        }
    ],
    jobsDb: {
        classname: "com.mysql.jdbc.Driver",
        jdbcurl: "jdbc:mysql://localhost:3306/scriptexecsvc_jobsdb_dodoma",
        username: "u",
        password: "p",
        maxActive: 8,
        maxIdle: 2,
        validationQuery: "SELECT count(*) from JOBS;"        
    },
    environmentVars: {
        "DODOMA_SCRIPT_PATH":"/.../addama/tools/dodoma/database/TRANSFAC_2010.1"
    }
}
