{
    comment: "simple-proxy-svc.war should be deployed as addama.war",
    locals: [
        {
            uri: "/tools/dodoma",
            proxy: "http://localhost:4080/script-execution-svc/addama/tools/dodoma",
            excludeBaseUri: true
        },
        {
            uri: "/biomart/martservice",
            proxy: "http://www.biomart.org/biomart/martservice",
            excludeBaseUri: true
        }
    ]
}
