{
    comment: "simple-proxy-svc.war deployed as addama.war",
    locals: [
        {
            comment: "proxy mapping to asynchronous script execution",
            uri: "/tools/dodoma",
            proxy: "http://localhost:4080/script-execution-svc/addama/tools/dodoma",
            excludeBaseUri: true
        },
        {
            comment: "proxy mapping to biomart to transform TSV to JSON",
            uri: "/biomart/martservice",
            proxy: "http://www.biomart.org"
        }
    ]
}
